
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1328px;
    margin: auto;
    padding: 0 40px;
    height: 100vh;
    overflow-y: auto;
}

header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > .main {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: black
}


header > .main > img {
    width: 97px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 40px 0;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.first {
    font-family: "Inter", sans-serif;
    padding: 40px 0;
}

.first > h1 {
    font-size: 48px;
}

.first > p {
    font-size: 20px;
    font-weight: 500;
}

#openHelp {
    padding: 10px 0;
    width: 200px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    background: #FFD300;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;

}

#openHelp:hover {
    cursor: pointer;
}

#getHelp {
    display: none;
    flex-direction: column;
    gap: 40px;
    padding: 80px 0;
    font-family: "Inter", sans-serif;
}

#void {
    height: 50vh;
}

.personal {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.passport {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 40px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.agree {
    display: unset;
}

.agree > a {
    color: #b59100;
}

input {
    padding: 10px;
    border-radius: 5px;
    background: #eaeaea;
    border: 0;
    font-family: "Inter", sans-serif;
}

.passport > button {
    padding: 10px 0;
    width: 200px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    background: #FFD300;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.passport > button:hover {
    cursor: pointer;
}

footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFD300;

}

footer > .main {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: black
}


footer > .main > img {
    width: 97px;
}